<% layout('layouts/boilerplate.ejs') %>

<div id="container" class="card d-flex justify-content-center  align-items-center" style="border: none;">

<div class="card d-flex justify-content-center align-items-center" ">
    <img src="<%= campground.image %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= campground.title %></h5>
      <p class="card-text"><%= campground.location %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> Description: <%= campground.description %>
      </li>
      <li class="list-group-item">Price: $<%= campground.price %>
      </li>
    </ul>
    <div class="card-body">
        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-info">Edit Campground</a>

    </div>
    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger" >Delete Campground</button>
    </form>
  </div>
  <div class="card-footer">
    <a class="text-muted" href="/campgrounds">All Campgrounds</a>

</div>

</div>